!!! Strict
%html{:xmlns =>'http://www.w3.org/1999/xhtml', 'xml:lang' => 'en', :lang => 'en'}

  %head
    %meta{'http-equiv' => 'Content-Type', :content => 'text/html; charset=utf-8'}
    %title= "#{"#{@article.title} | " if @single_view }hughevans.net"
    %link{:href => '/screen.css', :media => 'screen', :rel => 'stylesheet', :type => 'text/css'}
    %link{:rel => 'shortcut icon', :href => '/favicon.ico'}
    %link{:rel => 'alternate', :href => '/articles.atom', :title => '@hughevans - Ruby, Art and All things...', :type => 'application/atom+xml'}
    %script{:src => '/javascripts/code_highlighter.js', :type => "text/javascript"}
    
  %body
    #main
      .wrapper
        #header
          %h1
            %a{:href => '/'} @hughevans
        = yield

    #footer
      .wrapper
        %strong
          my other stuff on the web
        %ul
          %li
            %a{:href => 'http://twitter.com/hughevans'} twitter
          %li
            %a{:href => 'http://flickr.com/photos/hughevans/'} flickr
          %li
            %a{:href => 'http://github.com/artpop'} github
        #railsconf
          %a{:href => 'http://www.railsconf.com'}
            %img{:src => 'http://assets.en.oreilly.com/1/event/24/rails2009_210x60.jpg', :width => 210, :height => 60, :alt => 'RailsConf 2009', :title => 'RailsConf 2009'}

    %script{:type => 'text/javascript'}
      var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
      document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));

    %script{:type => 'text/javascript'}
      try {
      var pageTracker = _gat._getTracker("UA-7674685-1");
      pageTracker._trackPageview();
      } catch(err) {};