-# title: Railscamp VI
-# published: 2009-11-23

:textile
  There is much to be said about the latest "railscamp":http://railscamps.com/ instalment. Simply, it rocked. From "international speakers":http://topfunky.com/ to "multiplayer zombie rampages":http://github.com/chrislloyd/brains/, railscamp hasn't lost any of it's mojo. And that's despite it doubling in size. So big props must go out to "Ben Schwarz":http://germanforblack.com/, "John Barton":http://whoisjohnbarton.com and "Pat Allen":http://freelancing-gods.com for bringing it all together.

  Then there was the hacking. "Ben Webster":http://plus2.com.au, "Matt Allen":http://allen.com.au and myself made an app which will be used to benefit charities, swinging ourselves "some booty":/images/booty.jpg. I'll post the more info when we are closer to pushing it out. It's rather exciting really.

  